@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  color: white;
}

.spinner {
  animation: spin infinite 1s linear;

  /*You can increase or decrease the timer (5s) to 
     increase or decrease the speed of the spinner*/
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button_border {
  position: relative;
  border:none;
}

.button_border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px; /* Round the corners */
  padding: 2px; /* Border width */
  background: linear-gradient(180deg, #140084 0%, #652400 100%); /* Gradient border */
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
          mask-composite: exclude; 
}

.button_bg{
  background: linear-gradient(180deg, #140084 0%, #652400 100%);
}